$font-family: 'Sora', sans-serif;
$primary-color: #400E03;
$secondary-color: #ED1C24;
$third-color: #FDE4E5;
$gray-color: #F9F6F6;
$border-color: #E0D8D7;
$white-color: #ffffff;
$transition: ease-in-out all .4s;
